<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Topology Tool</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<!--    take your go-file as base or root for -->
    <link href="/topotool/static/style.css" rel="stylesheet" type="text/css">
    <script src="/topotool/js/htmx.min.js"></script>
  </head>
<!--  load the whole list by a POST-Request when the site loads-->
  <body hx-post="/topotool"
        hx-target=".table-location"
        hx-trigger="load">

<!-- refreshing the database -->
<!--    <div class="refresh-root">-->
<!--      <button class="refresh-text"-->
<!--              hx-post="/refresh"-->
<!--              hx-trigger="click"-->
<!--              hx-target=".refresh-output"-->
<!--              name="refresh">Refresh the database</button>-->
<!--      <div class="refresh-output"></div>-->
<!--    </div>-->

<!--     reload the list when user types in search-bar-->
    <div class="search-div">
      <label>Search for a hostname:
        <input class="search-bar"
               hx-post="/topotool"
               hx-trigger="keyup changed load delay:10ms"
               hx-target=".table-location"
               placeholder="Search..."
               name="hostname">
      </label>
    </div>
    <div class="table-location"></div>

  </body>
</html>
