<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Topology Tool</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<!--    take your go-file as base or root for -->
    <link href="static/style.css" rel="stylesheet" type="text/css">
    <script src="js/htmx.min.js"></script>
  </head>
  <body>
    <div class="search-div">
      <label>Search for a hostname:</label>
      <input class="search-bar"
             hx-post="/"
             hx-trigger="keyup changed delay:500ms"
             placeholder="Search..."
             name="hostname"
      >
    </div>
    <table class="table">
      <tr>
        <th>ID</th>
        <th>Interface Name</th>
        <th>MAC</th>
        <th>Hostname</th>
        <th>IP-Address</th>
        <th>Vlan</th>
        <th>Stack</th>
        <th>Interface Num</th>
      </tr>
      {{ range .Data }}
      <tr>
        <td>{{ .Id }}</td>
        <td>{{ .InterfaceName }}</td>
        <td>{{ .Mac }}</td>
        <td>{{ .Hostname }}</td>
        <td>{{ .Ip }}</td>
        <td>{{ .Vlan }}</td>
        <td>{{ .Stack }}</td>
        <td>{{ .InterfaceNum }}</td>
      </tr>
      {{ end }}
    </table>


  </body>
</html>
